.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px; /* 5px rounded corners */
    max-width: 280px;
    border: solid;
    margin: 10px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 0 0 5px 5px;
    max-width: 274px;
  }

  .characterinfo {
    display: flex;
    flex-direction: row;
  }

  .linkToCharacter {
    border:  1px solid;
    height: 40px;
    width: 40px;
    margin: auto;
    margin-right: 20px;
    text-align: center;
    padding-top: 10px;
  }