.Profile {
    min-height: 100vh;
    min-width: 100vh;
    background-color: black ;
    color: #84c754;
    font: 100% 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
}

.CharacterInfo{
    margin-top: 5%;
    margin-left: 5%;
    min-width: 45%;
}

.Image {
    margin-left: 50%;
    filter: grayscale(100%);
}

.Image:hover {
    filter: grayscale(0%);
    transition: filter 0.5s;

}

.ImageBox {
    min-width: 45%;
    margin-right: 5%;
    margin-top: 5%;
}

.EpisodeNumber {
    height: 1em;
    overflow: hidden;
    cursor: pointer;
    max-width: 70%;
}

.EpisodeNumber:hover {
    height: 1em;
    overflow: visible;
    cursor: pointer;
}
